.navbar{
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: white;
    opacity: 0.50;
    position: sticky;
    top: 0;
}
.n-left img{
   width: 5rem
}
.n-left span{
   font-size:3rem;
   font-weight: bolder;
  position: relative;
  top: -2rem;
  left: 0.9rem;

}
.n-right{
    list-style: none;
    display: flex;
    padding-top: 0.8rem;
}
.n-right li{
    padding: 0 0.7rem;
}
.n-right li a{
    text-decoration: none;
  color: black;
   padding: 0.5rem;
   border-radius: 25px;
   font-weight: bolder;
   font-size: 1rem;
   

}
.n-right li a:hover{
    color: rgb(255, 140, 0);
    padding: 1rem;
    font-weight:  bolder;
    background-color: white;
    

}